{% extends 'layouts/app.html' %} {% block title %}Login{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="container py-5">
  <div class="card">
    <div class="card-header bg-primary text-center text-white">
      <h2>LOGIN</h2>
    </div>
    <div class="card-body px-lg-5 py-lg-3">
      <div class="text-center text-muted mb-4">
        <small>Login ke akun mu!</small>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %} {% for
      category, message in messages %}
      <div
        class="alert alert-{{ 'success' if category == 'success' else 'danger' }}"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %} {% endwith %}
      <form role="form" action="/login" method="POST">
        <div class="form-group mb-3">
          <label for="username" class="form-label">Username</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input
              type="text"
              class="form-control"
              placeholder="Masukkan username"
              name="username"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Masukkan password"
            aria-describedby="passwordHelpBlock"
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary my-4">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 text-dark">
      <p class="url-text">
        Belum punya akun?
        <a a href="{{ url_for('register') }}">Buat Akun Baru</a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
